:root {
    --fundo: #E1EDE0;
    --verdeclaro1: #ddfcba;
    --verdeclaro2: #B7D286;
    --verde1: #95b634;
    --verde2: #8AAD34;
    --verdeescuro1: #77942E;
    --bordas: #3A6324;
    --fonte: #233b16;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fundo);
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: var(--fonte);
}

header{
    padding: 1em;
}

header h5{
    font-style: italic;
    font-weight: normal;
}

.container{
    max-width: 700px;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 3em;
}

form{
    padding: .5em;
}

.form-title{
    text-align: center;
    padding: 0.5em;
}

.category-title h3{
    padding: .5em 0;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

hr{
    border: 0;
    border-top: .1px solid var(--bordas);
}

label{
    margin: .4em 0;
    font-weight: bold;

}

.label-input{
    display: flex;
    flex-direction: column;
    padding: .5em .2em;
    text-align: center;
    position: relative;
}

.linha{
    display: flex;
    justify-content: center;
}

.dados, .moradia, .contato, .documentos{
    padding: 1.5em 0em; 
}

::placeholder, input[type="date"]:invalid {
    color: var(--verdeclaro2) ;
}

select, input{
    padding: .5em 1em;
    border-radius: .5em;
    border: 1px solid var(--verde1);
    background-color: transparent;
    color: #222;
    outline: none;
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
    transition: background-color 300ms;
    text-align: center;
}

select, input[type="date"]{
    cursor: pointer;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(48%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

option{
    background-color: var(--fundo);
    color: #222;
}

.required::after {
    color: rgb(122, 3, 3);
    content: " *";
}

/* FOCUS */
input:focus, select:focus{
    border: 1px solid var(--bordas);
    background-color: var(--verdeclaro2); 
}

/* HOVER */
input:hover, select:hover{
    background-color: var(--verdeclaro1); 
}


.error{
    padding: .3em;
    border-radius: 6px;
    border: 1px solid var(--bordas);
    background-color: var(--fundo);
    position: absolute;
    bottom: 0;
    transform: translateY(90%);
    font-size: small;
    font-weight: bold;
    color: var(--fonte);
    animation: shakeit .3s 0s ease 2;
    transform-origin: left;
    z-index: 10;
}

.error:after {
	content: '';
	position: absolute;
	top: 0;
    left: .3em;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom-color: var(--bordas);
	border-top: 0;
	margin-left: 5px;
	margin-top: -5px;
}

@keyframes shakeit {
    0%{transform: scale(1) translateY(100%);}
    50%{transform: scale(1.05) translateY(100%);}
    100%{transform: scale(1) translateY(100%);}
}

.botao{
    background-color: var(--verdeclaro1);
    width: 30%;
    border: 2px solid var(--bordas);
    border-radius: 5em;
    color: var(--fonte);
    font-weight: bold;
    padding: 1em;
    display: block;
    margin: auto;
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em; 
    transition: background-color 300ms; 
    cursor: pointer;
}

.botao:hover{
    background-color: var(--verdeclaro2);
}